[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytzdata = {version="2020.1", index="pypi"}
astropy = "4.2"
fasteners = "*"
pendulum = "*"
pyserial = "*"
scipy = "*"
timezonefinder = "*"
zeroconf = "*"
numpy = "*"
Flask = "*"
Flask-Compress = "*"
pynmea2 = "*"
ifaddr = "*"
setuptools = "*"
simple-pid = "*"

[requires]
python_version = "3.7"
