#[[source]]
#url = "https://www.piwheels.org/simple"
#verify_ssl = true
#name = "piwheels"

[dev-packages]

[packages]
astropy = "*"
fasteners = "*"
pendulum = "*"
pyserial = "*"
scipy = "*"
timezonefinder = "*"
zeroconf = "*"
numpy = "*"
Flask = "*"
Flask-Compress = "*"
pynmea2 = "*"
ifaddr = "*"
setuptools = "*"
psutil = "*"

[requires]
python_version = "3.7"
