[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[dev-packages]

[packages]
astropy = "*"
fasteners = "*"
netifaces = "*"
pendulum = "*"
pyserial = "*"
scipy = "*"
timezonefinder = "*"
zeroconf = "*"
numpy = "*"
Flask = "*"
Flask-Compress = "*"
pynmea2 = "*"

[requires]
python_version = "3.7"
