asn1crypto==0.24.0
astropy==3.1.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
dnspython==1.16.0
eventlet==0.24.1
fasteners==0.14.1
Flask==1.0.2
Flask-SocketIO==3.1.2
greenlet==0.4.15
idna==2.8
ifaddr==0.1.6
ipaddress==1.0.22
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
monotonic==1.5
numpy==1.16.1
pycparser==2.19
pyOpenSSL==18.0.0
pyserial==3.4
python-engineio==3.1.2
python-socketio==3.0.0
requests==2.21.0
six==1.12.0
urllib3==1.24.1
Werkzeug==0.14.1
zeroconf==0.21.3
picamera==1.13
