<div class="direction-controls">
    <br/>
    <div class="container-fluid">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" class="direction-controls-speed-fastest" name="direction-controls-speed"
                       value="fastest"
                       autocomplete="off" checked><i class="fas fa-angle-double-left"></i><i
                    class="fas fa-angle-double-left" style="margin-left:-2px"></i>
                Speed Fastest
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="direction-controls-speed-faster" name="direction-controls-speed"
                       value="faster"
                       autocomplete="off"><i class="fas fa-angle-double-left"></i><i class="fas fa-angle-left"
                                                                                     style="margin-left:-2px"></i>
                Faster
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="direction-controls-speed-medium" name="direction-controls-speed"
                       value="medium"
                       autocomplete="off"><i class="fas fa-angle-double-left"></i> Medium
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="direction-controls-speed-slower" name="direction-controls-speed"
                       value="slower"
                       autocomplete="off"><i class="fas fa-angle-left"></i> Slower
            </label>
            <label class="btn btn-primary">
                <input type="radio" class="direction-controls-speed-slowest" name="direction-controls-speed"
                       value="slowest" autocomplete="off">Speed Slowest
            </label>
        </div>
    </div>
    <table class="direction-controls">
        <tbody>
        <tr>
            <td>
                <button type="button" class="direction-controls-up-left"><i
                        class="fas fa-arrow-circle-left fa-5x cfa-rotate-45"></i></button>
            </td>
            <td>
                <button type="button" class="direction-controls-up"><i class="fas fa-arrow-circle-up fa-5x"></i>
                </button>
            </td>
            <td>
                <button type="button" class="direction-controls-up-right"><i
                        class="fas fa-arrow-circle-up fa-5x cfa-rotate-45"></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="direction-controls-left"><i class="fas fa-arrow-circle-left fa-5x"></i>
                </button>
            </td>
            <td><img src="logo-dred.png">
                &nbsp;
            </td>
            <td>
                <button type="button" class="direction-controls-right"><i class="fas fa-arrow-circle-right fa-5x"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="direction-controls-down-left"><i
                        class="fas fa-arrow-circle-down fa-5x cfa-rotate-45"></i></button>
            </td>
            <td>
                <button type="button" class="direction-controls-down"><i class="fas fa-arrow-circle-down fa-5x"></i>
                </button>
            </td>
            <td>
                <button type="button" class="direction-controls-down-right"><i
                        class="fas fa-arrow-circle-right fa-5x cfa-rotate-45"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
