<div class="modal fade" id="networkSettings" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Network Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#networkSettingsWifiTab" data-toggle="tab" role="tab">Wifi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#networkSettingsEthernetTab" data-toggle="tab" role="tab">Ethernet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Misc</a>
                    </li>
                </ul>
                <div class="tab-content" id="networkTabContent">
                    <div class="tab-pane fade show active" id="networkSettingsWifiTab" role="tabpanel">
                        <br/>
                        <h3>AP Mode</h3>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" id="networkSettingsWifiAPModeAutoAp" name="networkSettingsWifiAPMode"
                                       value="autoap"
                                       autocomplete="off" checked> Auto AP
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" id="networkSettingsWifiAPModeAlways" name="networkSettingsWifiAPMode"
                                       value="always"
                                       autocomplete="off"> Always
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" id="networkSettingsWifiAPModeClientOnly" name="networkSettingsWifiAPMode"
                                       value="clientonly"
                                       autocomplete="off"> Client Only
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="networkSettingsWifiAPSSID" class="col-form-label col">
                                SSID
                            </label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="networkSettingsWifiAPSSID" placeholder="SSID" maxlength="31">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="networkSettingsWifiAPKey" class="col-form-label col">
                                WPA2 Key
                            </label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="networkSettingsWifiAPKey" placeholder="Key" maxlength="63">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="networkSettingsWifiAPChannel" class="col-form-label col">
                                Channel
                            </label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" type="number" id="networkSettingsWifiAPChannel" min="0" max="" placeholder="Channel" maxlength="2">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button id="networkSettingsWifiAPSave" class="btn btn-warning">Save AP Settings</button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="networkSettingsWifiAPChannel" class="col-form-label col">
                                <h3>Wifi Client</h3>
                            </label>
                            <div class="col">
                                <div class="input-group">
                                    <button id="networkSettingsWifiClientRescan" class="btn btn-success">Rescan...</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="networkSettingsWifiClientListSpinner" class="fa-3x" style="display:none;"><i class="fas fa-spinner fa-pulse"></i></div>
                            <table id="networkSettingsWifiClientList" class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">SSID</th>
                                    <th scope="col">Signal</th>
                                    <th scope="col">Security</th>
                                    <th scope="col">Connect</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div>

                            <h3>Known Access Points</h3>
                            <table id="networkSettingsClientKnownList" class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">SSID</th>
                                    <th scope="col">Forget</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>

                    </div>
                    <div class="tab-pane fade" id="networkSettingsEthernetTab" role="tabpanel">
                        <br/>
                        <h3>Ethernet Mode</h3>
                        <div class="btn-group d-flex" role="group" data-toggle="buttons">
                            <div>
                                <label class="btn btn-primary disabled">
                                    <input type="radio" id="networkSettingsEthernetModeAutoDHCP" name="networkSettingsEthernetMode"
                                           value="autodhcp"
                                           autocomplete="off" disabled> Auto DHCP Client/Server
                                </label>
                                <label class="btn btn-primary active">
                                    <input type="radio" id="networkSettingsEthernetModeClientDHCP" name="networkSettingsEthernetMode"
                                           value="dhcpclient"
                                           autocomplete="off" checked>DHCP Client Only
                                </label>
                            </div>
                            <div>
                                <label class="btn btn-primary disabled">
                                    <input type="radio" id="networkSettingsEthernetModeAlwaysDHCP" name="networkSettingsEthernetMode"
                                           value="dhcpserver"
                                           autocomplete="off" disabled>DHCP Server Only
                                </label>
                                <label class="btn btn-primary disabled">
                                    <input type="radio" id="networkSettingsEthernetModeStatic" name="networkSettingsEthernetMode"
                                           value="static"
                                           autocomplete="off" disabled> Static IP
                                </label>
                            </div>
                        </div>
                        <h3>Static IP</h3>
                        <div class="form-group row">
                            <label for="networkSettingsEthernetStaticIP" class="col-form-label col">
                                IP
                            </label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="networkSettingsEthernetStaticIP" placeholder="xxx.xxx.xxx.xxx" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="networkSettingsEthernetStaticNetmask" class="col-form-label col">
                                Netmask
                            </label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="networkSettingsEthernetStaticNetmask" placeholder="xxx.xxx.xxx.xxx" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button id="networkSettingsEthernetSave" class="btn btn-warning" disabled>Save Ethernet Settings</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>