<div class="settings-menu-horizon-limit container-fluid">
    <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" id="horizonLimitEnable" name="horizon-limits-enabled"
                       value="enabled"
                       autocomplete="off" checked> Horizon Limits Enabled
            </label>
            <label class="btn btn-primary">
                <input type="radio" id="horizonLimitDisable"
                       name="horizon-limits-enabled"
                       value="disabled"
                       autocomplete="off"> Horizon Limits Disabled
            </label>
        </div>
    </div>
    <canvas id="horizonLimitgraphCanvas" width="620" height="620"></canvas>
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="display: table-cell">
                <h1>Add Point</h1>
                <div class="form-group row">
                    <label for="horizonLimitaddalt" class="col-sm-2 col-form-label">Alt</label>
                    <div class="col-sm-10">
                        <input class="form-control" style="width:6ex;" id="horizonLimitaddalt" type="text"
                               value="0">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="horizonLimitaddaz">Az</label>
                    <div class="col-sm-10">
                        <input class="form-control" style="width:6ex;" id="horizonLimitaddaz" type="text"
                               value="0">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="horizonLimitaddButton">Add Point</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="horizonLimitaddCurrentPositionButton">Add Current
                        Position Point
                    </button>
                </div>
            </div>
            <div style="display: table-cell">
                <h1>Modify Point</h1>
                <span style="text-size:80%">Note: you can also drag points in the graph</span><br/>
                <div class="form-group row">
                    <select class="form-control" id="horizonLimitexistingPoints">
                        <option>Point A</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="horizonLimitmodAlt">Alt:</label>
                    <div class="col-sm-10">
                        <input class="form-control" style="width:6ex;"
                               id="horizonLimitmodAlt"
                               type="text"><br/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="horizonLimitmodAz">Az:</label>
                    <div class="col-sm-10">
                        <input class="form-control" style="width:6ex;"
                               id="horizonLimitmodAz"
                               type="text"><br/>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning" id="horizonLimitmoveButton">Move</button>&nbsp;&nbsp;<button
                        id="horizonLimitdeleteButton" class="btn btn-warning">Delete
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
