<div class="settings-menu-general">
    <div class="container-fluid">

        <div class="form-group">
            <h4>Color Scheme</h4>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" id="settings-color-scheme-default" name="settings-color-scheme"
                           value="default"
                           autocomplete="off" checked> Default Color
                </label>
                <label class="btn btn-primary">
                    <input type="radio" id="settings-color-scheme-nightvision"
                           name="settings-color-scheme"
                           value="redlights"
                           autocomplete="off"> Night-Vision Red
                </label>
            </div>
        </div>
        <br/>

        <div class="form-group">
            <h4>Parking</h4>
            Park Position (Alt-Az): <span id="settings_park_position"></span><br/>
            <button id="settings_park" type="button" class="btn btn-success"><i class="fas fa-home"></i>
                Park Scope
            </button>&nbsp;
            <button id="settings_set_park_position" type="button" class="btn btn-warning"><i
                    class="fas fa-home"></i>
                Set
                Park
                Position to Current Position
            </button>
            <button id="settings_unset_park_position" type="button"
                    class="btn btn-danger"><i class="fas fa-home"></i>
                Unset
                Park
                Position
            </button>
        </div>


        <div class="form-group">
            <h4>Tracking</h4>
            <button id="settings_start_tracking" type="button"
                    class="btn btn-success"><i class="fas fa-hourglass-start"></i>
                Start tracking
            </button>
            <button id="settings_stop_tracking" type="button"
                    class="btn btn-danger"><i class="fas fa-hourglass-end"></i>
                Stop tracking
            </button>
        </div>

        <div class="form-group" id="shutdown_div">
            <h4>Shutdown mount</h4>
            <div class="col-md-1">
                <button id="shutdown_button" type="button" class="btn btn-primary btn-danger"><i
                        class="fas fa-power-off"></i>
                    Power Off
                </button>
            </div>
        </div>





        <div class="form-group" id="firmware_upload_div">
            <h4>Firmware Update</h4>
            <div class="col-md-1">
                <span id="firmware_version">Current&nbsp;Version:</span>
                <input id="firmware_file" type="file"/>
                <button id="firmware_file_upload" type="button" class="btn btn-primary"><i
                        class="fas fa-upload"></i>
                    Upload
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                <input id="showAdvancedSettings" class="form-check-input" type="checkbox" value=""
                       data-toggle="collapse"
                       data-target="#advancedSettings" aria-expanded="false"
                       aria-controls="advancedSettings">
                <label class="form-check-label"
                       for="showAdvancedSettings">Show&nbsp;Advanced&nbsp;Settings</label>
            </div>
        </div>

        <div class="collapse" id="advancedSettings">
            <h4>Advanced Settings</h4>
            <div class="form-group">
                <label for="settings_ra_track_rate">
                    RA Tracking Steps/Second
                </label>
                <input class="form-control" id="settings_ra_track_rate" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_ticks_per_degree">
                    RA Steps/Degree
                </label>
                <input class="form-control" id="settings_ra_ticks_per_degree" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_ticks_per_degree">
                    DEC Steps/Degree
                </label>
                <input class="form-control" id="settings_dec_ticks_per_degree" type="text"/>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <input id="settings_use_encoders" class="form-check-input" type="checkbox" value=""/>
                    <label for="settings_use_encoders"> Use encoders</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <input id="settings_limit_encoder_step_fillin" class="form-check-input" type="checkbox" value=""/>
                    <label for="settings_limit_encoder_step_fillin"> Limit Encoder Step Fillin</label>
                </div>
            </div>
            <div class="form-group">
                <label for="settings_ra_encoder_pulse_per_degree">
                    RA Encoder Pulse/Degree
                </label>
                <input class="form-control" id="settings_ra_encoder_pulse_per_degree" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_encoder_pulse_per_degree">
                    DEC Encoder Pulse/Degree
                </label>
                <input class="form-control" id="settings_dec_encoder_pulse_per_degree" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_direction">
                    RA Direction
                </label>
                <input class="form-control" id="settings_ra_direction" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_direction">
                    DEC Direction
                </label>
                <input class="form-control" id="settings_dec_direction" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_guide_rate">
                    RA Guide Steps/Sec (Change from tracking, not absolute)
                </label>
                <input class="form-control" id="settings_ra_guide_rate" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_slew_fastest">
                    RA Slew-Fastest Steps/Sec
                </label>
                <input class="form-control" id="settings_ra_slew_fastest" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_slew_faster">
                    RA Slew-Faster Steps/Sec
                </label>
                <input class="form-control" id="settings_ra_slew_faster" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_slew_medium">
                    RA Slew-Medium Steps/Sec
                </label>
                <input class="form-control" id="settings_ra_slew_medium" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_slew_slower">
                    RA Slew-Slower Steps/Sec
                </label>
                <input class="form-control" id="settings_ra_slew_slower" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_ra_slew_slowest">
                    RA Slew-Slowest Steps/Sec
                </label>
                <input class="form-control" id="settings_ra_slew_slowest" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_guide_rate">
                    DEC Guide Steps/Sec
                </label>
                <input class="form-control" id="settings_dec_guide_rate" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_slew_fastest">
                    DEC Slew-Fastest Steps/Sec
                </label>
                <input class="form-control" id="settings_dec_slew_fastest" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_slew_faster">
                    DEC Slew-Faster Steps/Sec
                </label>
                <input class="form-control" id="settings_dec_slew_faster" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_slew_medium">
                    DEC Slew-Medium Steps/Sec
                </label>
                <input class="form-control" id="settings_dec_slew_medium" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_slew_slower">
                    DEC Slew-Slower Steps/Sec
                </label>
                <input class="form-control" id="settings_dec_slew_slower" type="text"/>
            </div>
            <div class="form-group">
                <label for="settings_dec_slew_slowest">
                    DEC Slew-Slowest Steps/Sec
                </label>
                <input class="form-control" id="settings_dec_slew_slowest" type="text"/>
            </div>
            <div class="form-group">
                <button id="settings_save" type="button" class="btn btn-warning"><i
                        class="fas fa-cog"></i>Save
                    Advanced Settings
                </button>
                <span id="settings_save_status"></span><br/>
            </div>
        </div>
    </div>
</div>
