<nav class="navbar navbar-dark">
    <h2>Controls</h2>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#settings_menu_content"
            aria-controls="settings_menu_content" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
            class="fa fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="settings_menu_content">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#settings_menu_controls" id="settings_menu_controls"><i class="fas fa-arrows-alt"></i> Controls</a></li>
            <li class="nav-item">&nbsp;<a class="nav-link" href="#settings_menu_general" id="settings_menu_general"><i class="fas fa-cogs"></i>&nbsp;General Settings</a></li>
            <li class="nav-item">&nbsp;<a class="nav-link" href="#settings_menu_location" id="settings_menu_location"><i class="fas fa-globe"></i>&nbsp;Location/Time Settings</a></li>
            <li class="nav-item">&nbsp;<a class="nav-link" href="#settings_menu_network" id="settings_menu_network"><i class="fas fa-wifi"></i>&nbsp;Network Settings</a></li>
            <li class="nav-item">&nbsp;<a class="nav-link" href="#settings_menu_horizon" id="settings_menu_horizon"><i class="fas fa-adjust"></i>&nbsp;Horizon Limits Settings</a></li>
            <li class="nav-item">&nbsp;<a class="nav-link" href="#settings_menu_polaralignassist" id="settings_menu_polaralignassist"><i class="fas fa-compass"></i>&nbsp;Polar Align Assist</a></li>
            <li class="nav-item">&nbsp;<a class="nav-link" href="#settings_menu_pointingmodel" id="settings_menu_pointingmodel"><i class="fas fa-hand-point-up"></i>&nbsp;Pointing Model</a></li>
        </ul>
    </div>
</nav>
