<div id="settings_button_group" class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-cog"></i>Settings<span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li>&nbsp;<a href="#" id="settings_menu_general"><i class="fas fa-cogs"></i>&nbsp;General</a></li>
        <li>&nbsp;<a href="#" id="settings_menu_location"><i class="fas fa-globe"></i>&nbsp;Location/Time</a></li>
        <li>&nbsp;<a href="#" id="settings_menu_network"><i class="fas fa-wifi"></i>&nbsp;Network</a></li>
        <li>&nbsp;<a href="#" id="settings_menu_horizon"><i class="fas fa-adjust"></i>&nbsp;Horizon Limits</a></li>
    </ul>
</div>