<div class="settings-menu-polaralignassist container-fluid">
    <div id="polar_align_canvas_wrapper" style="position: relative;">
        <canvas></canvas>
        <div style="position: absolute; top: 0px">
            <button id="polar_align_canvas_zoom_plus" style="width: 4ex"><i class="fas fa-search-plus"></i></button>
            <br/>
            <span id="polar_align_canvas_zoom_label">100%</span><br/>
            <button style="width: 4ex" id="polar_align_canvas_zoom_minus"><i class="fas fa-search-minus"></i></button>
            <br/>
            <br/>
            <button style="width: 4ex" id="polar_align_canvas_rotation_plus"><i
                    class="fas fa-undo fa-flip-vertical"></i></button>
            <br/>
            <span id="polar_align_canvas_rotation_label">0 &deg;</span><br/>
            <button style="width: 4ex" id="polar_align_canvas_rotation_minus"><i class="fas fa-undo"></i></button>

        </div>
    </div>
    <div name="paa_status"></div>
    <div name="paa_select"></div>
    <div name="paa_solve"></div>
    <div><a href="/paa_image">Direct link to last camera image</a></div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_exposure_time">
            Exposure
        </label>
        <div class="col-sm-10">
            <input type="number" value="10" data-decimals="2" min="0.01" max="10" step="0.01"
                   id="settings_polar_align_assist_exposure_time"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_rotation">
            Rotation
        </label>
        <div class="col-sm-10">
            <input type="number" data-loop="true" value="0" data-decimals="1" min="0" max="360" step="1"
                   id="settings_polar_align_assist_rotation"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_zoom">
            Zoom
        </label>
        <div class="col-sm-10">
            <input type="number" value="100" data-decimals="0" min="1" max="300" step="10"
                   id="settings_polar_align_assist_zoom"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_zoom">
            ISO
        </label>
        <div class="col-sm-10">
            <input type="number" value="800" data-decimals="0" min="100" max="800" step="100"
                   id="settings_polar_align_assist_iso"/>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_overlay_opacity">
            Overlay Opacity
        </label>
        <div class="col-sm-10">
            <input type="number" value="60" data-decimals="0" min="0" max="100" step="5"
                   id="settings_polar_align_assist_overlay_opacity"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_solve_opacity">
            Solve Opacity
        </label>
        <div class="col-sm-10">
            <input type="number" value="60" data-decimals="0" min="0" max="100" step="5"
                   id="settings_polar_align_assist_solve_opacity"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col">
            <input id="settings_polar_align_assist_show_solve" class="form-check-input" type="checkbox"
                   value=""
                   data-toggle="collapse"
                   data-target="#polarAlignSolveConfig" aria-expanded="false"
                   aria-controls="polarAlignSolveConfig">
            <label class="form-check-label"
                   for="settings_polar_align_assist_show_solve">Show&nbsp;Solving
                Settings</label>
        </div>
    </div>
    <div class="collapse" id="polarAlignSolveConfig" style="border: 1px solid #707070;">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_solve_width_low">
                Width Range Low
            </label>
            <div class="col-sm-10">
                <input type="number" value="33" data-decimals="0" min="25" max="45" step="1"
                       id="settings_polar_align_assist_solve_width_low"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_solve_width_high">
                Width Range High
            </label>
            <div class="col-sm-10">
                <input type="number" value="36" data-decimals="0" min="25" max="45" step="1"
                       id="settings_polar_align_assist_solve_width_high"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_solve_pixel_error">
                Pixel Error
            </label>
            <div class="col-sm-10">
                <input type="number" value="1" data-decimals="0" min="1" max="3" step="1"
                       id="settings_polar_align_assist_solve_pixel_error"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_solve_code_tolerance">
                Code Tolerance
            </label>
            <div class="col-sm-10">
                <input type="number" value="0.01" data-decimals="2" min="0.01" max="0.04" step="0.01"
                       id="settings_polar_align_assist_solve_code_tolerance"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <input type="checkbox" class="form-check-input" id="settings_polar_align_assist_solve_auto_rotate"
                       checked="true"/>
                <label class="form-check-label" for="settings_polar_align_assist_solve_auto_rotate">
                    Auto Rotate Overlay after solve
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_solve_code_log">
                Solve Log
            </label>
            <div class="col-sm-10">
                <textarea style="width: 100%" id="settings_polar_align_assist_solve_code_log"></textarea>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col">
            <input id="settings_polar_align_assist_show_config" class="form-check-input" type="checkbox"
                   value=""
                   data-toggle="collapse"
                   data-target="#polarAlignConfig" aria-expanded="false"
                   aria-controls="polarAlignConfig">
            <label class="form-check-label"
                   for="settings_polar_align_assist_show_config">Show&nbsp;Polar Align Assist
                Settings</label>
        </div>
    </div>
    <div class="collapse" id="polarAlignConfig">


        <div class="form-group row">
            <div class="form-group">
                <textarea id="settings_polar_align_assist_dev_coords"></textarea><br/>
                <button id="settings_polar_align_assist_find_rotation_axis" type="button"
                        class="btn btn-warning"><i
                        class="fas fa-cog"></i>Find Rotation Axis
                </button>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_config_rotation_x">
                Camera Offset X
            </label>
            <div class="col-sm-10">
                <input type="number" value="1639" data-decimals="0" min="0" max="3279" step="1"
                       id="settings_polar_align_assist_config_rotation_x"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="settings_polar_align_assist_config_rotation_y">
                Camera Offset Y
            </label>
            <div class="col-sm-10">
                <input type="number" value="1231" data-decimals="0" min="0" max="2463" step="1"
                       id="settings_polar_align_assist_config_rotation_y"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group">
                <button id="settings_polar_align_assist_save" type="button" class="btn btn-warning"><i
                        class="fas fa-cog"></i>Save
                </button>
                <span id="settings_polar_align_assist_save_status"></span><br/>
            </div>
        </div>
    </div>
</div>
