[Unit]
Description=SSTEQ25 service
After=clearhomepyc.service network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/SSTForkMountFirmware/piside/server
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
